<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add payment method</title>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <h1>Payment Method Form</h1>

  <!-- Payment Form -->
  <form id="payment-form">
    <div id="card-element">
      <!-- Stripe Element will be inserted here -->
    </div>
    <button id="submit">Enter Payment Details</button>
  </form>
  <div>
    <p>For test environment payment method values</p>
    <p>card number: 4242 4242 4242 4242</p>
    <p>Future date: 12/34</p>
    <p>CVV: Any 3 digit number</p>
    <p>Zip code: Any 5 digit number</p>
  </div>
  <script>
    // Store the payment method ID here
    let paymentMethodId = null;

    // Initialize Stripe
    const stripe = Stripe("<%= stripePublishableKey %>");
    const elements = stripe.elements();
    const cardElement = elements.create('card');
    cardElement.mount('#card-element');

    // Handle payment method submission
    const form = document.getElementById('payment-form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const { paymentMethod, error } = await stripe.createPaymentMethod({
        type: 'card',
        card: cardElement,
      });

      if (error) {
        console.error(error);
        alert('Error creating payment method');
      } else {
        // Store the payment method id and send it to the backend
        paymentMethodId = paymentMethod.id;
        console.log("Payment Method ID:", paymentMethodId);

        // Proceed to create the payment method on the backend
        fetch('/store/payment-method', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            paymentMethodId: paymentMethodId,
          }),
        })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            console.log("Payment method added successfully:", data);
            // Redirect to a products page
            window.location.href = '/account/subscriptions/add';
          } else {
            console.error('Error adding payment method:', data.message);
            alert('Failed to add payment method: ' + data.message);
          }
        })
        .catch((error) => {
          console.error('Error during fetch:', error);
          alert('An error occurred while processing your request.');
        });
      }
    });
  </script>
</body>
</html>
